$font-primary: Unbounded, sans-serif;
$font-secondary: Montserrat, serif;

$red: #f13010;
$pink: #ffd6d6;
$lime: #dcff7c;
$white: white;
$white50: #FFFFFF80;

$gray1: #2a2a2a;
$gray2: #2f2f2f;
$gray3: #2e2e2e;
$gray4: #878787;
$gray5: #f0f0f0;

$desktopRadius: 60px;
$mobileRadius: 30px;
