.speakers {
  box-sizing: border-box;
  padding: 4rem 0;
  background-color: $gray2;
  display: flex;
  flex-direction: column;
  border-radius: $desktopRadius;
  text-align: center;
  position: relative;
  overflow: hidden;

  @include sm {
    border-radius: $mobileRadius;
    padding: 1rem 0;
  }

 
}

.speakers-header {
  background-color: $white;
  border-radius: $desktopRadius;
  padding: 45px 40px;
  display: inline-block;
  position: relative;

  @include md {
    padding: 16px 14px;
    border-radius: $mobileRadius;
  }

  &__title {
    font-size: 60px;
    margin: 0;
    text-transform: uppercase;
    text-align: left;

    @include md {
      font-size: 36px;
    }
  }

  &__sub {
    font-size: 30px;
    background-color: $lime;
    border-radius: 65px;
    padding: 20px 30px;
    position: absolute;
    transform: translateX(5px) rotate(355deg);

    @include md {
      font-size: 16px;
      padding: 10px 14px;
    }
  }
}

.speakers-cards {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;

  @include md {
    flex-direction: column;
    align-items: center;
  }
}
